*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1f1f1f;
}
header{
    text-align: center;
    background-color: white;
    padding: 2rem;
}
.score-board{
    border: 3px solid white;
    width: 35%;
    margin: 5% auto;
    color: white;
    font-size: 2em;
    border-radius: 5px;
    text-align: center;
    padding: 3%;
    position: relative;
}

.badge{
    background-color: #E25840;
    font-size: 0.5em;
    padding: 1% 2%;
}
#user-id{
    position: absolute;
    top: 38%;
    left: -30px;
}
#comp-id{
    position: absolute;
    top: 38%;
    right: -30px;
}
.msg > p{
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.choices{
    text-align: center;
    margin: 2% 3%;
}


.choice{
    display: inline-block;
    margin: 2%;
    border: 4px solid white;
    border-radius:50%;
    padding: 3%;
    transition: all 0.3s ease;
}
.choice:hover{
    cursor: pointer;
    background-color: #140d0d;
}

#action-message{
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.green-glow{
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}
.red-glow{
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}
.gray-glow{
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}